Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on

RewriteRule ^auth/?$ index.php
RewriteRule ^profile/?$ views/account-profile.php
RewriteRule ^home/?$ views/home.php

RewriteRule ^users/list/?$ views/users/usersList.php
RewriteRule ^users/crear/?$ views/users/createUser.php
RewriteRule ^users/ver/?$ views/users/viewUser.php

RewriteRule ^clients/list/?$ views/clients/clientsList.php
RewriteRule ^clients/crear/?$ views/clients/createClient.php
RewriteRule ^clients/ver/?$ views/clients/viewClient.php

RewriteRule ^crear-producto/?$ views/products/create.php
RewriteRule ^detalles/?$ views/products/details.php
RewriteRule ^carrito/?$ views/products/shoppingCart.php
RewriteRule ^editar-producto/?$ views/products/editProduct.php

RewriteRule ^/home/crear-producto/?$ views/products/create.php
RewriteRule ^/home/detalles/?$ views/products/details.php

RewriteRule ^api/?$ App/controllers/Controller.php